extends layouts/main
block content
  include partials/header

  .page-content
    h2 #{user.name}'s Cart
    if products.length === 0
      p Your cart is empty.
    else
      ul.cart-list
        each product in products
          li
            - const finalPrice = (product.salePrice && product.salePrice < product.price) ? product.salePrice : product.price
            | #{product.name} - $#{finalPrice}

      h3 Total: $#{total}
      form(action="/order/create" method="POST")
        button(type="submit") Create an Order
  include partials/footer